fastapi==0.102.0
pydantic<2
uvicorn==0.23.2
numpy==2.3.5
pandas==2.2.3
requests==2.32.5
python-dotenv==1.2.1
mega.py==0.9.20        # библиотека для работы с Mega
lightgbm==3.4.2       # LightGBM модели
ably==1.2.1